/*ARCHIVO DE ESTILOS DEL MISITIO 2.0*/

.menu {
    display: flex;
    background-color: beige;
}

/*Estilo del logo del menú*/
.menuimage {
    margin: 0px 30px;
}

.menulinks {
    padding: 10px;
    margin: 0px 30px;
}