
/*Estilo del banner (div caja)*/
.box {
    max-width: 2000px;
    height: 100px;
    background-color: rgb(102, 102, 102);
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.comic.studio/banners/24037.4ea92f5f6ad6ddd253864f801f2fce96.png);
    background-size: contain;
    background-repeat: initial;
}

body{
    background-color: whitesmoke;
}

/*Estilo del texto en div caja*/
div.box{
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-shadow: 3px 3px black;
}

/*Estilo del juego del dia*/
div.juegodia {
    display: flex;
    font-family: sans-serif;
    background-color: rgb(235, 235, 235);
    justify-content: center;
    width: 300px;
    margin: 0px 100px;
}

/*Estilo de la imagen del dia*/
div.imagendia {
    margin: 0px 100px;
}

/*Estilo de las descargas*/
div.descargas {
    margin: 30px 100px;
}

/*Estilo del segundo título*/
div.segundo-titulo {
    display: flex;
    justify-content: center;
    margin: 8%;
    background-color: rgb(235, 235, 235);
}